/* General reset */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	/*margin: 0;*/
	list-style: none;
	/*padding: 0;*/
}
input, select, textarea, button{
	outline: none;
	border: none;
}
.form-control:focus{
	border: 1px solid #bc2336;
}
textarea{
	resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}

header, footer{
	height: 150px;
	background: lightseagreen;	
}

header .flex-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo a img{
	/*width: 150px;*/
	height: 150px;
	
}
.name{
	
    color: white;
    font-size: 40px;
    margin-left: 50px;
    /*margin-top: 40px;*/
}

/*.container{
	width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}*/

.flex-container{
	display:flex;
	flex-direction: row;
}


.sidebar{
	width: 30%;
	height: 600px;
	background: aquamarine;
	
}

#heating{
	font-size: 20px;
	width: 100px;
}

button[type = "submit"]{
	font-size: 20px;
	background: lightseagreen;
}

.list li{
	/*margin-left: 100px;*/
	font-size: 40px;
	font-weight: bold;
	color: black;
	margin-top: 50px;
}

.list li+li{
	margin-top: 20px;
}

.content{
	float: left;

	width: 70%;
	height: 600px;
	background: gainsboro;
	
}

.term{
	display: inline-block;
	width: 150px;
	height: 450px;
	margin-top: 20px;	
	vertical-align: middle;	
}

.main_photo{
	margin-left: 50px;
	margin-top: 50px;
	vertical-align: middle;	
}

.Op_1{
	background-image: url(../img/term_2.png);
}

.Op_2{
	background-image: url(../img/term_3.png);
}

.Op_3{
	background-image: url(../img/term_4.png);
}


@media (max-width: 1023px) {
  .flex-container{
  	flex-direction: column;
  }
	.sidebar{
		width: 100%;
	}
	.content{
		width: 100%;
	}

}
